<nav
  class="navbar navbar-light bg-light justify-content-between pt-1 pb-1 pl-1"
>
  <ul class="nav mr-auto">
    <li class="nav-item">
      <a class="btn back" [routerLink]="[link]" role="button">
        <fa-icon class="pl-1" [icon]="homeIcon"></fa-icon>
      </a>
    </li>
    <ng-container *ngIf="showStep == 'true'">
      <li class="nav-item">
        <a class="btn" routerLink="../..">
          <fa-icon [icon]="menuIcon"></fa-icon>
        </a>
      </li>
    </ng-container>
  </ul>
  <ng-container *ngIf="showStep == 'true'">
    <form class="form-inline">
      <ng-container *ngIf="step$ | async as step">
        <a style="cursor: pointer;" *ngIf="!isFirst(step.id)" (click)="previous()">
          <fa-icon class="pr-1" [icon]="leftArrow"></fa-icon>
        </a>
        {{ step.id + 1 }}/
        <ng-container *ngIf="workshop$ | async as workshop">
          <div class="">{{ workshop.steps.length }}</div>
        </ng-container>
        <a style="cursor: pointer;" *ngIf="!isLast(step.id)" (click)="next()">
          <fa-icon class="pl-1" [icon]="rightArrow"></fa-icon>
        </a>
      </ng-container>
    </form>
  </ng-container>
</nav>
