<header class="bg-light">
  <back-button link="/workshops/list"></back-button>
</header>

<section *ngIf="workshop$ | async as workshop">
  <h1>{{ workshop.name }}</h1>
  <p>{{ workshop.description }}</p>

  <ng-container *ngIf="(currentIndex$ | async) as currentIndex; else startBtn">
    <article @slideIn class="list-group">
      <ng-container *ngFor="let step of workshop.steps; let i = index">
        <a class="list-group-item list-group-item-action"
          [routerLink]="['../steps', i]"
          [ngClass]="{ disabled: i >= currentIndex }">
          {{ i + 1 }} - {{ step.name }}
        </a>
      </ng-container>
    </article>
  </ng-container>

  <ng-template #startBtn>
    <a class="btn btn-success start" (click)="start()" role="button">Start</a>
  </ng-template>

</section>
