<div class="container-fluid mt-3">
 
  <div (click)="panelChange()" class="btn btn-info d-flex justify-content-between">
    <div class="d-flex" style="font-weight: bold;">Import tutorials from GitHub</div>
    <div *ngIf="repoLoaded()" class="d-flex pl-2">
      <fa-icon *ngIf="(isOpen())" [icon]="sortUp"></fa-icon>
      <fa-icon *ngIf="(!isOpen())" [icon]="sortDown"></fa-icon>
    </div>
  </div>

  <div *ngIf="(isOpen())">

    <form (ngSubmit)="sync()" #heroForm="ngForm">
      <div class="form-group">
        <label class="mr-2" for="name">repo</label>
        <fa-icon [icon]="questionIcon" ngbTooltip="ie username/repository"></fa-icon>
        <input type="text" class="form-control" id="name" required (ngModelChange)="onChangeName($event)"
          [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Repo is required
        </div>

        <label for="branch">branch</label>
        <input type="text" class="form-control" id="branch" required [(ngModel)]="model.branch" name="branch"
          #branch="ngModel">
        <div [hidden]="branch.valid || branch.pristine" class="alert alert-danger">
          branch is required
        </div>
      </div>

      <button class="btn btn-success start w-100" [disabled]="!heroForm.form.valid" role="button">Import
        {{model.name}}</button>
      <a href="{{gethelp()}}" class="d-none" target="_blank">
        <fa-icon [icon]="infoIcon"></fa-icon> how to setup your repo
      </a>
    </form>
  </div>
</div>

<div *ngIf="isOpen()" class="container-fluid">
  <div ngbDropdown class="w-100">
    <button class="btn btn-secondary w-100 mt-3" id="dropdownBasic1" ngbDropdownToggle>Tutorial libraries</button>
    <div class="w-100" ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <span *ngFor="let repo of repos$ | async;">
        <button class="small" (click)="selectrepo(repo)" ngbDropdownItem>{{repo.name}}-{{repo.branch}}</button>
      </span>

    </div>
  </div>
  <div (click)="resetall()" class="small mb-3" style="cursor: pointer;" >reset all settings</div>
</div>
<hr>
<div *ngIf="repoLoaded()" class="container-fluid mb-3 small">
  Tutorials are loaded from:
  <h4>{{loadedGithub().name}}</h4>
  Date modified: {{loadedGithub().datemodified}}
</div>
<div *ngIf="!repoLoaded()" class="container-fluid mb-3">

  <h4>Welcome!</h4>
  Start by importing one the github repositories either by<br>
  - using the default<br>
  - select one from the 'Recently used' list <br>
  - creating your own:<br>
  <a href="{{gethelp()}}" target="_blank"> How to setup your repo and more info</a><br>

</div>
