<ng-container *ngIf="show">
<div *ngIf="repoLoaded()" class="container-fluid mb-3 small mt-3">
  Tutorials from:
  <h4 class="mb-1">{{loadedGithub().name}}</h4>
  <span class="">Date modified: {{loadedGithub().datemodified | date:'MMM d, y, HH:mm' }}</span>
</div>

<div (click)="panelChange()" style="cursor: pointer;" class="container-fluid d-flex mb-3 small">
  <div *ngIf="repoLoaded()" class="d-flex pr-2 pl-2">
    <fa-icon *ngIf="(isOpen())" class="arrow-icon" [icon]="sortUp"></fa-icon>
    <fa-icon *ngIf="(!isOpen())" class="arrow-icon" [icon]="sortDown"></fa-icon>
  </div>
  <div class="d-flex" style="">Import another tutorial repo</div>

</div>

<div *ngIf="isOpen()" class="container-fluid">
  <div ngbDropdown class="w-100">
    <button class="btn btn-secondary w-100" id="dropdownBasic1" ngbDropdownToggle>Select a repo</button>
    <div class="w-100" ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <span *ngFor="let repo of repos$ | async;">
        <button class="small" (click)="selectrepo(repo)" ngbDropdownItem>{{repo.name}}-{{repo.branch}}</button>
      </span>

    </div>
  </div>
  <div (click)="resetall()" class="small mb-3" style="cursor: pointer;" >reset list</div>
</div>
<div class="container-fluid mt-3">
 


  <div *ngIf="(isOpen())">

    <form (ngSubmit)="sync()" #heroForm="ngForm">
      <div class="form-group">
        <label class="mr-2" for="name">REPO</label>
        <fa-icon [icon]="questionIcon" ngbTooltip="ie username/repository"></fa-icon>
        <input type="text" class="form-control" id="name" required (ngModelChange)="onChangeName($event)"
          [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Repo is required
        </div>

        <label for="branch">BRANCH</label>
        <input type="text" class="form-control" id="branch" required [(ngModel)]="model.branch" name="branch"
          #branch="ngModel">
        <div [hidden]="branch.valid || branch.pristine" class="alert alert-danger">
          branch is required
        </div>
      </div>

      <button class="btn btn-success start w-100" [disabled]="!heroForm.form.valid" role="button">Import
        {{model.name}}</button>
      <a href="{{gethelp()}}" class="d-none" target="_blank">
        <fa-icon [icon]="infoIcon"></fa-icon> how to setup your repo
      </a>
    </form>
  </div>
  <hr>
</div>
</ng-container>


<div *ngIf="!repoLoaded()" class="container-fluid mb-3">

  <h4>Welcome!</h4>
  Start by importing one the github repositories either by<br>
  - using the default<br>
  - select one from the 'Recently used' list <br>
  - creating your own:<br>
  <a href="{{gethelp()}}" target="_blank"> How to setup your repo and more info</a><br>

</div>
