
<header class="bg-light">
    <h4>Workshops</h4>
  </header>
  
  <app-importer></app-importer>
  <ul @slideIn class="list-group">
    <li class="list-group-item" *ngFor="let workshop of workshops$ | async; trackBy: trackByFn">
      <h4>{{ workshop.name }}{{ workshop.id }}</h4>
      <p><markdown [data]="workshop.dump"></markdown></p>
      <div class="actions">
        <a [routerLink]="['/workshops', workshop.id]" class="btn">
          Start
        </a>
      </div>
    </li>
  </ul>
  
<p>list works!</p>
