<app-importer></app-importer>
<div *ngIf="isVisible$ | async" class="container-fluid">
  <div @slideIn>
    <div *ngFor="let workshop of workshops$ | async; trackBy: trackByFn">
      <a
        *ngIf="!isOpen(workshop)"
        [routerLink]=""
        class="arrow-icon"
        (click)="toggleDescriptionUI(workshop)"
        ><fa-icon [icon]="sortDown"></fa-icon
      ></a>
      <a
        *ngIf="isOpen(workshop)"
        [routerLink]=""
        class="arrow-icon"
        (click)="toggleDescriptionUI(workshop)"
        ><fa-icon [icon]="sortUp"></fa-icon
      ></a>
      <a
        [routerLink]=""
        class="workshop-link"
        (click)="toggleDescriptionUI(workshop)"
        >{{ getname(workshop) }}
      </a>
      <a
        class="text-decoration-none float-right"
        [routerLink]="['/workshops', workshop.id]"
      >
        <fa-icon [icon]="playIcon"></fa-icon>
      </a>
      <div
        class="container-fluid bg-light pt-3 mt-2"
        [ngClass]="{ 'description-collapsed': !isOpen(workshop) }"
      >

      
        <p *ngIf="getlevel(workshop)" class="tag pt-2 pr-1 font-weight-bold small">
          {{ getlevel(workshop) }}
        </p>

        <span *ngIf="gettags(workshop)">
          <p class="tag pr-1 font-weight-bold small"  *ngFor="let tag of gettags(workshop)">
            {{ tag }}
          </p>
        </span>
        <div class="d-none" *ngIf="workshop.steps">
          {{ workshop.steps.length }} step(s)
        </div>
        <!-- <a
          [routerLink]="['/workshops', workshop.id]"
          class="btn btn-success text-decoration-none w-100"
        >
          Start
        </a> -->
        <div class="workshop-list_description pb-3 pt-3">
          <markdown [data]="getdescription(workshop)"></markdown>
        </div>
        <div class="actions"></div>
      </div>
      <hr>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
