<div class="fixed-top">
  <div class="bg-light">
    <back-button link="/workshops/list" showStep="true"></back-button>
  </div>

</div>
<div #top></div>
<ng-container *ngIf="step$ | async as step">

  <ng-container *ngIf="errorLoadingFile">
    
    <div class="errorloadingspacer"></div>
    <h1 class="pl-3 pr-3 pt-3 pb-1">{{ getname(step) }}</h1>
    <button
      class="w-100nav-item rounded-0 nav-link btn btn-success test"
      (click)="loadfile(step)"
    >
      Load the file
    </button>
    <div class="mb-4"></div>
  </ng-container>
  <ng-container *ngIf="!errorLoadingFile">
    <div class="menuspacer"></div>
    <h1 class="pr-3 pl-3 pt-3 pb-1">{{ getname(step) }}</h1>
  </ng-container>
  <div class="container-fluid">
    <markdown [data]="step.markdown.content"></markdown>
  </div>
  <!-- WITH TEST -->

  <ng-container *ngIf="step.test.file; else noTest">
    <nav class="nav nav-pills nav-fill">
      <!-- <button
        *ngIf="!((index$ | async) === 0)"
        class="btn"
        (click)="previous()"
        [disabled]="(index$ | async) === 0"
      >
        Previous
      </button> -->
      <ng-container *ngIf="errorLoadingFile">
        <button
          class="nav-item rounded-0 nav-link btn btn-warning test"
          (click)="loadfile(step)"
        >
          Load the file
        </button>
      </ng-container>
      <ng-container *ngIf="!(isLoading$ | async) && !errorLoadingFile">
        <button
          class="nav-item rounded-0 nav-link btn btn-info test"
          (click)="test(step)"
        >
          Check Answer
        </button>
        <ng-container *ngIf="step.answer.file">
          <button
            class="nav-item rounded-0 nav-link btn btn-warning test"
            (click)="answer(step)"
          >
            Show answer
          </button>
        </ng-container>
      </ng-container>
    </nav>
    <button
      class="w-100 rounded-0 nav-item nav-link btn btn-success"
      *ngIf="success$ | async"
      (click)="next()"
    >
      Next
    </button>

    <div #errors id="errors">

      <div
        *ngIf="success$ | async"
        class="alert rounded-0 alert-success mb-0 mt-0"
        role="alert"
      >
        Well done! No errors.
      </div>
      <ng-container *ngIf="errors$ | async as errors">
        <div
          *ngIf="!(success$ | async)"
          class="alert rounded-0 alert-danger mb-0 mt-0"
          role="alert"
        >
          Errors
        </div>

        <div
          class="alert rounded-0 alert-warning mb-0 mt-0"
          *ngFor="let error of errors"
        >
          {{ error.message }}
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- NO TEST -->
  <ng-template #noTest>
    <!-- <footer class="bg-light">
       <button
        *ngIf="!((index$ | async) === 0)"
        class="btn"
        (click)="previous()"
        [disabled]="(index$ | async) === 0"
      >
        Previous
      </button>

      <button
        [routerLink]="['../../view']"
        routerLinkActive="router-link-active"
        *ngIf="(index$ | async) === 0"
        class="btn"
      >
        Back to workshops
      </button>
    </footer>  -->
    <nav class="nav nav-pills nav-fill">
      <ng-container *ngIf="!(isLoading$ | async) && !errorLoadingFile">
        <ng-container *ngIf="step.answer.file">
          <button
            class="nav-item rounded-0 nav-link btn btn-warning test"
            (click)="answer(step)"
          >
            Show answer
          </button>
        </ng-container>
      </ng-container>
    </nav>
    <button
      *ngIf="!isLast(step.id)"
      class="w-100 btn btn-success"
      (click)="next()"
    >
      Next
    </button>
    <button
      *ngIf="isLast(step.id)"
      class="w-100 btn btn-success"
      (click)="next()"
    >
      Finish tutorial
    </button>
  </ng-template>
</ng-container>
<div id="bottom" #bottom></div>
<ngx-spinner></ngx-spinner>
