/* You can add global styles to this file, and also import other style files */


h1{
    font-size: 1em !important;
    font-weight: bold;
}
h2{
    font-size: 1em !important;
}
h3{
    font-size: 1em !important;
}

